@import "../bower_components/bootstrap/less/bootstrap.less";

// Variables
@grey: #D3D3D3;

#hero {
	background-color: @grey;
	//background: url("http://placehold.it/1366x20");
    //background-size: cover;
    min-height: 250px;
}