{% extends "layout.html" %}
{% block content %}
<section id="hero">
    <div class="container-fluid">
    <div class="container">
        <div class="huge">
            <h1>Esther and Tom's Wedding</h1>
            <p class="lead">8/3/15 &middot; Poacher's Pantry &middot; Canberra</p>
        </div>
    </div>
    </div>
</section>
<div class="container">
    <section id="intro">
    <p class="lead">
    After almost seven years together, we're getting married and we can't wait to celebrate with you&mdash;our best friends and family.</p>
        <h4>Location</h4>
        <p>The wedding ceremony and reception will be held on Sunday 8 March 2015 at <a href="http://www.poacherspantry.com.au">Poachers Pantry</a> (see the map below).<p>
        <p>The ceremony will commence at 5:00pm, and the reception will wrap up at 11:45pm.</p>
        <h4>Getting There</h4>
        <ul><li>Bus: we will be providing bus transportation for guests to and from Canberra to the venue (pickup location TBA). Please indicate with your RSVP whether you would like to take the bus.</li>
            <li>Car: there is parking available at the venue for people who wish to drive.</li>
            <li>Taxi: Taxis in Canberra are notoriously expensive, and return transport may be hard to come by, given the venue is fairly remote. We recommend taking the bus, supplemented with taxis to/from your accommodation if required.</li>
        </ul>
        <h4>Dress Code</h4>
        <p>Cocktail attire. Please note that the ceremony will be held outdoors (weather permitting), so check the weather closer to the time.</p>
        <h4>Gifts</h4>
        <p>We’ve been living together in sin for years and we live in a tiny loft apartment, so we really don’t need any more things. However, if you wish to give us a gift, we would love cash contributions to our honeymoon (we're going to Europe via Jordan in August 2015). </p>

        </section>

    </div>
    <section id="photo1">

        <div class="container-fluid">
        </div>
    </section>
    <section id="details">
    <div class="container">
    <h2>The details</h2>
                    <h4>Baby change facilities</h4>
                    <p>Please note that Poachers Pantry has only limited changing facilities, and there will not be a separate room to put children to sleep. There is, however, a large lawn for playing.</p>
                    <h4>Dietary requirements</h4>
                    <p>Let us know if you have any when you RSVP. If you take a Paleo diet, please note you will be uninvited (just jokes… maybe). </p>
                    <h4>The day after</h4>
                    <p>Since Esther banned spit-roast pigs from the wedding itself, we’re planning on having a Pig-on-a-Spit hangover party on Monday 9 March, hosted by our lovely friend Karin. We’d love to catch up with people in a more casual setting. We'll let you know the details.</p>
                    <h3>Map</h3>
                    <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/thmcmahon.kc11ch4a/attribution,zoompan.html?access_token=pk.eyJ1IjoidGhtY21haG9uIiwiYSI6IjBfeTd0ajAifQ.uRauX-5BoBc6nlXLefhqVA'></iframe>
                <div id="rsvp">
                <h2>
                    We're coming!
                </h2>
                <p class="lead">Fill in this quick form to RSVP. If you have any questions that we haven't covered, our contact details are at the bottom of the page.</p>
                {% if completed == True %}
                <p class="lead">Thanks for RSVPing {{ form.names.data }}!</p>
                <p>Scroll down for all of the rest of the wedding deets</p>
                {% else %}
                <form action="{{ url_for('index')}}" class="form-horizontal" method="post">
                    <div class="col-sm-10">
                        {{ form.hidden_tag() }}
                        {% for field in form if field.widget.input_type != 'hidden'%}
                        {% if field.type=='SubmitField'%}
                        <div class="form-group">
                            {{ form.submit(class_="btn btn-default") }}
                        </div>
                        {% else %}
                        {% if field.errors %}
                        <div class="form-group has-error">
                            {% else %}
                            <div class="form-group">
                                {% endif %}
                                {{ field.label(class_="control-label") }}
                                {% for message in field.errors %}
                                <p class="text-danger">{{ message }}</p>
                                {% endfor %}
                                {% if field.type=='RadioField' %}
                                <div class="radio">
                                    {{ field }}
                                </div>
                                {% else %}
                                {{ field(class_="form-control") }}
                                {% endif %}
                            </div>
                            {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </form>
                {% endif %}
            </div>

        </section>
        <section id="photo2">
        <div class="container-fluid">
        </div>
        </section>
        <section id="faq">
            <div class="container">
                    <h2>Canberra</h2>
                    <h3>Getting there</h3>
                    <ul>
                        <li><strong>Fly:</strong> Qantas and Virgin Australia have multiple flights to Canberra from capital cities every day. Demand for flights and accommodation is greater during periods when Parliament is sitting (Parliament will be sitting from 2-5 March 2015), so we recommend booking as far in advance as possible if you will be travelling at those times. </li>
                        <li><strong>Drive:</strong> For the semi-adventurous and time-rich, the drive to Canberra takes about 14 hours from Adelaide and 8 hours from Melbourne. The Hay Plains are about the most boring drive you can take through Australia, but it’s worth doing (only) once.</li>
                    </ul>
                    <h3>Staying in Canberra</h3>
                    <p>Have a browse of one of the many booking sites such as Wotif, Trivago etc. to get a good deal. Cabs are expensive and public transport can be hit-and-miss, so we’d suggest staying centrally – there are heaps of hotels/serviced apartments north of Lake Burley Griffin around Northbourne Ave in Civic, and the New Acton precinct is also a great spot for food and accommodation (seen recently in ABC’s The Code!). </p>
                    <p>South of the lake, if you’re looking for a piece of Canberra history, the Hotel Kurrajong has just been refurbished, and is close to the Kingston Foreshore - another good spot. </p>
                    <p>At the risk of offending residents, don’t bother with Canberra’s other satellite hubs, including Gungahlin, Belconnen, Woden or Tuggeranong – particularly if you won’t have a car to get around.</p>
                    <p>The wedding venue is close to Murrumbateman and Canberra’s cool climate wine district – there are places to stay out there, however you may be better off staying in Canberra and doing another day trip if you want to see more. </p>
                    <p>We can provide advice and recommendations if you’re not sure!</p>
                    <h3>Things to do (and eat) in Canberra</h3>
                    <p><a href="http://Visitcanberra.com.au">Visitcanberra</a> is a good place to start! Monday 9 March is the Canberra Day public holiday, so you you’ll be in the right place to celebrate the Capital.</p>
                    <p>Go see our national institutions, such as the War Memorial, Old and new Parliament Houses, National Gallery, National Library and the National Portrait Gallery. </p>
                    <p>Not that we’d argue with the New York Times anyway, but we can personally vouch for this <a href="http://www.nytimes.com/2014/06/08/travel/36-hours-in-canberra-australia.html?_r=0">assessment of an excellent way to spend a day or two.</a></p>
                    <p>Broadsheet have also done a pretty good <a href="http://www.broadsheet.com.au/melbourne/events/article/72-hours-canberra">hipster's guide to 72 hours in Canberra.</a></p>
                    <p>Canberra also has heaps of great restaurants <a href="http://www.goodfood.com.au/good-food/top-10-eat-out/canberras-top-20-restaurants-for-2014-20141203-11z417.html">including these for starters.</a>  </p>
                    <p>If you have a car, we also recommend the National Arboretum (great views over Canberra), Tidbinbilla Nature Reserve (beautiful walks, and you might even see an albino kangaroo), and around Murrumbateman for some wine tasting.</p>
                    <p>If you have some extra time to go further afield, Canberra is a couple of hours drive from the NSW South Coast. Make a day or two of it by visiting Bungendore and Braidwood on your way through.</p>
                    <h3>Contacts</h3>
                    <ul>
                        <li><p>Esther Kumnick </p>
                            <p>0401 956 979 / <a href="mailto:esther.kumnick@gmail.com">esther.kumnick@gmail.com</a></p></li>
                            <li><p>Thomas McMahon</p>
                                <p>0433 359 983 / <a href="mailto:thmcmahon@gmail.com">thmcmahon@gmail.com</a> </p></li>
                                </div>
                            </section>
                            <section class="container">
                            <div class="center-block">Made with Flask, bootstrap and love by <a href="https://github.com/thmcmahon">Tom McMahon</a>, with special thanks to <a href="https://twitter.com/SirBarnalot">Karin Maier </a>for the photos.</div>
                        </div>
                    </div> <!-- Container -->
                    {% endblock %}